{% extends 'base.html' %}
{% block content %}
<h2>{% block title %} Отчет №{{ report['number'] }} от {{ report['date'] }} {% endblock %}</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Номер отчета</td>
            <td>{{ report['number'] }}</td>
        </tr>
        <tr>
            <td>Дата отчета</td>
            <td>{{ report['date'] }}</td>
        </tr>
        <tr>
            <td>Тип отчета</td>
            <td>{{ report['report_type_name'] }}</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>{{ report['description'] }}</td>
        </tr>
        <tr>
            <td>Составитель отчета</td>
            <td>{{ report['employee_name'] }}</td>
        </tr>
    </tbody>
</table>

<div class="row">

    <div class="col-auto">
        <a href="{{ url_for('reports') }}">
            <button type="button" class="btn btn-secondary"><i class=bi-graph-up-arrow></i> Вернуться к списку отчетов</button>
        </a>
    </div>


    <div class="col-auto">
        <a href="{{ url_for('generate_report', report_id=report['id_report']) }}">
            <button type="button" class="btn btn-primary"><i class="bi-printer"></i> Скачать отчет</button>
        </a>
    </div>
</div>

{% endblock %}
